<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>daka.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E99B381F1F906BE4009BE194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99B38381F906BE5009BE194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E99B38431F906BE5009BE194</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
